* {
    font-family: Helvetica, sans-serif;
}

.mainHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.title {
    font-size: 35px;
    font-family: serif, Helvetica;
    margin-right: 1.5vw;
    position: relative;
    color: black;
    display: inline;
}

.bannerLinks {
    font-size: 16px;
    margin-right: 1.5vw;
    position: relative;
    display: inline;
    text-decoration: none;
    color: black;
}

#bannerLinks {
    position: relative;
    margin-left: 15vw;
    align-content: right;
}

.bannerIMG {
    width: 5vw;
    height: 5vw;
    display: inline;
    margin-top: 1vw;
    text-decoration: none;
}

.bannerIMG:hover + .title {
        display: block;
        color: black;
    }
