* {
    font-family: Helvetica, sans-serif;
}

.mainHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.title {
    font-size: 35px;
    font-family: serif, Helvetica;
    margin-right: 1.5vw;
    position: relative;
    display: inline;
    background: linear-gradient(to right, green, green 50%, black 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
}

.bannerLinks {
    font-size: 16px;
    margin-right: 1.5vw;
    position: relative;
    display: inline;
    color: black;
    text-decoration: none;
}

#bannerLinks {
    position: relative;
    margin-left: 15vw;
    align-content: right;
}

#bannerIMG {
    font-size: 4vw;
    display: inline;
    margin-top: 1vw;
    margin-left: 1vw;
    background: linear-gradient(to right, green, green 50%, black 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
}

.title:hover, #bannerIMG:hover{
    transition: background-position 1s ease;
    background-position: 0 100%;
    color: green;
}
